<html>
  <head>
  </head>
  <body>
    <img src="https://img1.etsystatic.com/051/0/10591113/il_570xN.720407533_cfek.jpg" alt="" width=200 height=200 >
  	<h1>Welcome to the Recipe App!!</h1>
  
  	<p> Do you find it hard to keep track of all your recipes? </p>
  	<p> Well, now you dont have to.</p>  
  	<p> With this app you can keep track of all your recipes, and no one can access them but you. </p>

	<h3>Please Log In Here</h3>

	<a href="/login">Log In</a> 
<p> <h3>  Please Sign Up Here</h3>
	<a href="/signup">Sign Up</a></p>
  </body>
</html>