<html>
  <head>
  </head>
  <body>
  	<h1>Welcome to the Recipe App!!</h1>
  
  	<p> Do you find it hard to keep track of all your recipes? </p>
  	<p> Well, now you dont have to. With this app you can keep track of all your recipes, and no one can access them but you. </p>

	<h3>Please log in or sign up below</h3>

	<a href="/login">Log In</a> 

	<a href="/signup">Sign Up</a>
  </body>
</html>